# KiCad backup and temporary files
Schematics/SiC_Single_Phase_Inverter-backups/*
Schematics/Sub_PCB_Sheets/AC_Output_Filter/.history
Schematics/Sub_PCB_Sheets/Controller_Circuit/.history
Schematics/Sub_PCB_Sheets/DC_Input_Protection/.history
Schematics/Sub_PCB_Sheets/DC_Link_Caps/.history
Schematics/Sub_PCB_Sheets/EMI_Input_Filter/.history
Schematics/Sub_PCB_Sheets/Full-Bridge/.history
Schematics/Sub_PCB_Sheets/Power_Circuit/.history
Schematics/Sub_PCB_Sheets/Pre-Charge_Circuit/.history
